aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
ansible==9.1.0
ansible-compat==4.1.11
ansible-core==2.16.2
ansible-lint==24.2.3
anyio==4.4.0
async-timeout==4.0.2
attrs==23.2.0
autobahn==22.7.1
Automat==20.2.0
awscli==1.40.14
black==24.10.0
boto3==1.34.94
botocore==1.38.15
bracex==2.3.post1
Brotli==1.0.9
build==1.2.2.post1
CacheControl==0.14.0
certifi==2022.6.15
cffi==1.17.1
charset-normalizer==2.1.0
cleo==2.1.0
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
constantly==15.1.0
crashtest==0.4.1
cryptography==37.0.4
distlib==0.3.8
distro==1.9.0
docstring-parser==0.15
docutils==0.19
dulwich==0.21.7
enrich==1.2.7
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fastjsonschema==2.20.0
filelock==3.13.1
frozenlist==1.3.3
fsspec==2024.6.0
git-filter-repo==2.38.0
h11==0.14.0
hkdf==0.0.3
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.4
humanize==4.3.0
hyperlink==21.0.0
idna==3.3
ijson==3.3.0
importlib_metadata==7.2.1
incremental==21.3.0
iniconfig==1.1.1
installer==0.7.0
instaloader==4.10
instructor==0.6.8
j2cli==0.3.10
jaraco.classes==3.4.0
Jinja2==3.1.2
jmespath==0.10.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
litellm==1.40.25
magic-wormhole==0.12.0
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.0.4
mutagen==1.46.0
mypy-extensions==0.4.3
numpy==1.23.5
openai==1.35.3
openpyxl==3.0.10
packaging==23.2
pandas==1.5.2
pandas-stubs==1.5.2.221213
pathspec==0.12.1
pexpect==4.9.0
pipenv==2023.11.17
pkginfo==1.11.1
platformdirs==4.1.0
pluggy==1.0.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.15.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyproject_hooks==1.2.0
pyrsistent==0.18.1
pytest==7.1.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.6
PyYAML==5.4.1
RapidFuzz==3.10.0
referencing==0.32.1
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
resolvelib==0.8.1
rich==13.7.1
rpds-py==0.16.2
rsa==4.7.2
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
ruff==0.9.6
s3transfer==0.12.0
service-identity==21.1.0
shell_gpt==1.4.3
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
spake2==0.8
subprocess-tee==0.4.1
tenacity==8.4.1
tiktoken==0.7.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.13.2
tqdm==4.64.0
trove-classifiers==2024.9.12
Twisted==22.4.0
txaio==22.2.1
txtorcon==22.0.0
typer==0.9.4
types-pytz==2022.6.0.1
typing_extensions==4.12.2
urllib3==2.0.7
virtualenv==20.25.0
wcmatch==8.4
websockets==13.1
wormhole==0.1.0
xattr==1.1.0
yamllint==1.33.0
yarl==1.8.2
yt-dlp==2025.4.30
zipp==3.19.2
zope.interface==5.4.0
